[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pycodestyle = "*"
pylint-print = "*"
pytest = "*"

[packages]
austrakka = {editable = true, path = "."}
azure-identity = "==1.6.1"
azure-keyvault-secrets = "==4.3.0"
click = "==8.1.3"
loguru = "==0.5.3"
pandas = "==1.3.3"
tabulate = "==0.8.9"
cryptography = "==3.4.8"
httpx = "==0.23.3"

[requires]
python_version = "3.9"
