[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
pycodestyle = "*"
pylint-print = "*"
pytest = "*"
vistir = "*"
pytest-azurepipelines = "*"

[packages]
austrakka = {editable = true, path = "."}
azure-identity = "*"
click = "*"
loguru = "*"
pandas = "<3"
tabulate = "*"
cryptography = "*"
semver = "*"
biopython = "*"
httpx = {extras = ["http2"], version = "*"}
xlsxwriter = "*"

[requires]
python_version = "3"
